#canvas {
    border: 1px solid black;
    position:absolute;
    width:100%;
    height:100%;
    z-index: -1;
    background: -webkit-linear-gradient(#103623 10%, #540934 60%, #171c45 90%);
}

body {
    background: #540934;
    margin: 0;
}


#sprite-image {
    width: 300px;
    height: 200px;
    /* animation: play 0.7s steps(7) infinite;     */
}
#sprite-image:hover {
    stroke: #fff;
    fill-opacity: 0.3;
    transition: opacity 100ms linear; 
}


.green {
    background: url("Images/Jelly_six_1.svg") no-repeat;
    animation: play-green 0.7s steps(7) infinite;  
    background-position: 0 0;
}
.green:hover {
    background-position: -900px 0;
    animation: play-green-hover 0.7s steps(7) infinite;    
}


.pink {
    background: url("Images/Jelly_six_1.svg") no-repeat;
    background-position: -300px 0;
    animation: play-pink 0.7s steps(7) infinite;    
}
.pink:hover {
    background-position: -1200px 0;
    animation: play-pink-hover 0.7s steps(7) infinite;    
}


.blue {
    background: url("Images/Jelly_six_1.svg") no-repeat;
    background-position: -600px 0;
    animation: play-blue 0.7s steps(7) infinite;    

}
.blue:hover {
    background-position: -1500px 0;
    animation: play-blue-hover 0.7s steps(7) infinite;    
}




@keyframes play-green {
    100% {
      background-position: 0 -1400px;
    }
}
@keyframes play-green-hover {
    100% {
      background-position: -900px -1400px;
    }
}


@keyframes play-pink {
    100% {
      background-position: -300px -1400px;
    }
}
@keyframes play-pink-hover {
    100% {
      background-position: -1200px -1400px;
    }
}


@keyframes play-blue {
    100% {
      background-position: -600px -1400px;
    }
}
@keyframes play-blue-hover {
    100% {
      background-position: -1500px -1400px;
    }
}






/* .st0 {
    width: 200px;
    height: 200px;
    animation: play 0.7s steps(7) infinite;
    fill: #a80666;
    fill-opacity: 0.05;
    stroke: #fff;
    stroke-opacity: 70%;
    filter: 
        drop-shadow(0 0 .2rem rgb(255, 255, 255))
        drop-shadow(0 0 .3rem #f09)
        drop-shadow(0 0 .7rem #f09);
    transition: opacity 100ms linear;
    filter: 
    drop-shadow(0 0 .2rem rgb(255, 255, 255))
    drop-shadow(0 0 .3rem #f09)
    drop-shadow(0 0 .7rem #f09);
    transition: opacity 100ms linear;
}
.st0 {
    width: 200px;
    height: 200px;
    animation: play 0.7s steps(7) infinite;
    fill: #a80666;
    fill-opacity: 0.05;
    stroke: #fff;
    stroke-opacity: 70%;
    filter: 
        drop-shadow(0 0 .2rem rgb(255, 255, 255))
        drop-shadow(0 0 .3rem #f09)
        drop-shadow(0 0 .7rem #f09);
    transition: opacity 100ms linear;
}
.st0:hover {
    stroke: #fff;
    fill-opacity: 0.3;
    filter: 
        drop-shadow(0 0 .2rem #ffe4f4)
        drop-shadow(0 0 .7rem #f09)
        drop-shadow(0 0 1.2rem #f09);
    transition: opacity 100ms linear; 
} */