/* .st0 {
    width: 200px;
    height: 200px;
    animation: play 0.7s steps(7) infinite;
    fill: #a80666;
    fill-opacity: 0.05;
    stroke: #fff;
    stroke-opacity: 70%;
    filter: 
        drop-shadow(0 0 .2rem rgb(255, 255, 255))
        drop-shadow(0 0 .3rem #f09)
        drop-shadow(0 0 .7rem #f09);
    transition: opacity 100ms linear;
    filter: 
    drop-shadow(0 0 .2rem rgb(255, 255, 255))
    drop-shadow(0 0 .3rem #f09)
    drop-shadow(0 0 .7rem #f09);
    transition: opacity 100ms linear;
} */